<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="seungchan.com.tobaccoach_5_2">

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- 데이터베이스 파일(/data/data/databases/) DDMS에서 접근 -->
    <application
        android:name=".webService.ApplicationController"
        android:allowBackup="true"
        android:icon="@drawable/tobaccoach_launcher_icon_2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity android:name=".activity.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DevSettingActivity" />
        <activity android:name=".activity.MyDeviceScanActivity" />
        <!--<activity android:name=".deviceServiceController.MyDeviceController" />-->

        <service
            android:name=".ble.BluetoothLeService"
            android:enabled="true" />

        <activity android:name=".activity.TobaccoListActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.SignupActivity"/>
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="@string/kakaolink_host"
                    android:scheme="@string/kakao_scheme"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
    </application>

</manifest>